---
import FeaturePost from '../components/FeaturePost.astro';
import RecentPost from '../components/RecentPost.astro';
import Layout from '../layouts/Layout.astro';

// const posts: Post[] = Object.values(import.meta.glob('./posts/*.md', { eager: true })).map((value: any): Post => {
// 	return {

// 	}
// })

// console.log(posts[0].frommatter)

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="c-header">
		<div class="container">
			<h1>Blog</h1>
			<p>Share more, Learn more!</p>
		</div>
	</div>
	<div class="container">
		<FeaturePost />
		<div
        class="latest_title _flex _row _justify_content_between _align_items_center"
      >
        <h1>New Arrviral</h1>
        <a
          href="/latest-posts"
          class="more-button btn btn-primary _display_inline_block"
        >
          MORE POSTS
        </a>
      </div>
      <div class="_flex _row _wrap _justify_content_between">
				<RecentPost />
      </div>
    </div>
	</div>
</Layout>

<style>
	.latest_title {
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		background-color: white;
	}
	.btn {
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		padding-left: 1em;
		padding-right: 1em;
		border-radius: 15px;
		font-size: 0.75em;
		transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
		text-decoration: transparent;
		&-primary {
			background-color: #122140;
			color: white;
			&:hover {
				background-color: #1b435f;
			}
		}
	}
	.home-links a {
		margin-right: 1rem;
	}
	.c-header {
		position: relative;
		height: 300px;
		width: 100%;
		background-color: #112d32;
		margin-top: -10px;
		color: white;
		overflow: hidden;
		h1,
		p {
			margin: 0;
		}
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 100%;
			background-image: url('/bg.svg');
			background-repeat: no-repeat;
			background-size: cover;
		}
}
</style>
