---
---
<footer class="footer _flex _column _justify_content_end">
  <div class="container _flex _column _justify_content_center inner">
    <p>
      Made With 💗 By <a href="https://dsjin.co" target="_blank">DSJIN</a> © 2020-2025 | icons by
      <a href="https://icons8.com/">icons8</a>
    </p>
  </div>
</footer>

<style>
  .footer {
    width: 100%;
    height: 40vh;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: url('/footer-bg.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    a {
      color: white;
    }
    & .inner {
      height: 40%;
      width: calc(100% - 2em);
      color: white;
      font-weight: 300;
      p {
        z-index: 1;
      }
    }
  }
</style>