---
const { title } = Astro.props
---
<nav class="nav">
  <div class="nav-container">
    <div class="nav-band_logo">
      { title }
    </div>
  </div>
</nav>

<style>
  .nav {
    position: relative;
    display: flex;
    justify-content: center;
    right: 0;
    left: 0;
    height: 3.25rem;
    background: #112d32;
    color: rgb(202, 220, 223);
    z-index: 20;
  }
  .nav-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    max-width: 1080px;
    width: 100%;
    padding-right: 1em;
    padding-left: 1em;
  }

  .nav-band_logo {
    display: flex;
    align-items: center;
  }
  .nav-menu {
    display: flex;
    align-items: center;
  }
  .nav-menu_item {
    text-decoration: none;
    color: inherit;
  }
  .nav-menu_item:not(:last-child) {
    margin-right: 20px;
  }
  .nav-menu {
    di
</style>